<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{0}:%line - %msg%n)</pattern>
		</encoder>
	</appender>
	<logger name="org.hibernate" level="WARN" />
	<logger name="com.mchange" level="WARN" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
